# Binaries
main

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS files
.DS_Store

# Sublime Text files
*.sublime*

# Log files
*.log

# Latex files
*.aux
*.fdb_latexmk
*.out
*.synctex.gz
*.pdf